/* body {
  background-color: #2b3945;
} */
.error-section {
    background-color: transparent;
    border: 1px solid #2b3945;
    border-radius: .25rem;
    color: #ffffff ;
    margin: auto;
    width: 60%;
    padding: 100px;
    text-align: center;
  }
  .btn-error {
    background-color: #ffffff;
    color: #111517;
    border-radius: .25rem;
    border: none;
    text-decoration: none;
    padding: 5px;
    margin: 20px;
  }
  .text-error{
    margin: 20px 0 20px 0;
  }
  